<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Nova noticia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup">
    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input type="text" formControlName="titulo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Conteudo</ion-label>
      <ion-textarea rows="6" formControlName="conteudo"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Imagem</ion-label>
      <ion-textarea rows="6" formControlName="imagem"></ion-textarea>
    </ion-item>

    <ion-button (click)="cadastrar()" expand="full" color="success">Cadastrar</ion-button>
  </form>
</ion-content>