<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Lista de Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-list>
    <ion-list-header>
      Informações Recentes
    </ion-list-header>

    <ion-item *ngFor="let usuario of usuarios" (click)="buscaPorId(usuario)">
      <ion-avatar slot="start">
        <img src="{{usuarioServ.getImage(usuario.id)}}">
      </ion-avatar>
      <ion-label>
        <h2>Nome: {{usuario.name}}</h2>
        <p>Email: {{usuario.email}}...</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>