<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Lista de Notícias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-list>
    <ion-list-header>
      Informações Recentes
    </ion-list-header>

    <ion-item *ngFor="let noticia of noticias" (click)="buscaPorId(noticia)">
      <ion-avatar slot="start">
        <img src="{{noticia.imagem}}}">
      </ion-avatar>
      <ion-label>
        <h2>{{noticia.titulo}}</h2>
        <p>{{noticia.conteudo}}...</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>